*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
.section{
    background-image:url(map.png);
    border-image-repeat:no-repeat;
    background-image: cover;
}
.text1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90px;
    text-align:center;
}
@font-face {
    font-family:"Nunito Sans";
    src: url(/Nunito\ Sans.ttf);
}
.text2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.all{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
.description{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.span{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.span1{
    position:absolute;
    margin-top:-60px;
    margin-left:315px;
}
.description1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.span2{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7C8DB0;
}
.prise{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #6E7491;
}
.discription2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.span3{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.discription3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600; 
    font-size: 18px;
    line-height: 25px;
    color: #6E7491;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.prise1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.text4{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text5{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text6{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.p1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'Nunito Sans'; 
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.discription7{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text7{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.discription8{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text8{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.discription9{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.text9{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.footer{ 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    line-height:200%;
}
.footer1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    line-height:200%;
}
.footer2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    line-height:200%;
}
.footer3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    line-height:200%;
}
.footer4{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}